# See https://prettier.io/docs/en/ignore.html for more about ignoring files.

# dependencies
node_modules

# production
build
lib

npm-debug.log*
package-lock.json

#demo
demo/build
demo/node_modules
demo/package-lock.json