.popover {
  &__container {
    position: absolute;
    display: inline-block;

    &--top {
      margin-top: -5px;
    }

    &--bottom {
      margin-top: 5px;
    }

    &--left {
      margin-left: -5px;
    }

    &--right {
      margin-left: 5px;
    }
  }

  &__arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #222;
    z-index: 3;

    &--top {
      margin-top: -6px;
      border-width: 5px 5px 0;
      border-bottom-color: transparent !important;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
    }

    &--bottom {
      margin-top: 6px;
      border-width: 0 5px 5px;
      border-top-color: transparent !important;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
    }

    &--left {
      margin-left: -6px;
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      border-right-color: transparent !important;
    }

    &--right {
      margin-left: 6px;
      border-width: 5px 5px 5px 0;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      border-left-color: transparent !important;
    }
  }

  &__arrow-border {
    border-color: #666;
    z-index: 2;

    &.popover__arrow {
      &--top {
        margin-left: -1px;
        border-width: 6px 6px 0;
      }
      &--bottom {
        margin-top: 5px;
        margin-left: -1px;
        border-width: 0 6px 6px;
      }
      &--left {
        margin-top: -1px;
        border-width: 6px 0 6px 6px;
      }
      &--right {
        margin-left: 5px;
        margin-top: -1px;
        border-width: 6px 6px 6px 0;
      }
    }
  }

  &__inner {
    max-width: 200px;
    padding: 0.3rem 0.5rem;
    color: #fff;
    font-size: 0.8em;
    text-align: center;
    background-color: #222;
    border: 1px solid #666;
    border-radius: 0.25rem;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  }
}

.light {
  .popover__inner {
    background-color: #fff;
    border: 1px solid #e1e4e8;
    color: #333;
    box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
  }

  .popover__arrow {
    border-color: #fff;
  }

  .popover__arrow-border {
    border-color: rgba(27, 31, 35, 0.13);
  }
}
